@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/assets/img/QMwObb-1280.jpg);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav-item {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 25px;
    margin-left: 10px;
 }
 .nav-item:hover {
    background-color: #ff9900;
    border-radius: 10px;
 }
 header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #689CD2;
    
 }
 a {
    text-decoration: none;
    color: #fff;
 }
 
 .mypic {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
 }

 main {
    width: 100%;
    height: 90%;
 }
 h1 {
    text-decoration: underline;
 }


.section-profile{
    width: 700px;
    height: fit-content;
    text-align: center;
    color: #ff9900;
}

 .container {
    max-width: 1440px;
    margin: o auto;
    padding: 5px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
}

.section {
    width: 100%px;
    height: 90%;
    padding: 5px;
    color: #ff9900;
    
}

 footer {
    background-color: #689CD2;
    width: 100%;
    height: 5%;
    color: #ff9900;
 }